body{
    background-color: #fced0a;
    overflow: hidden;
    width:100%;
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 5px;
    display:flex;
    margin: 0%;
}

.joie{
    background-color: #fced0a;
}



#borne{
    width: 3%;
    caret-color: transparent;
    transition: transform .2s;
}

#borne:hover{
    transform: scale(2);
    cursor:pointer;
}


#hudC{
    width:100%;
    pointer-events: none;
    height:100%;
    position:absolute;
    right: 0;
    top: -100vh;
    display:flex;
    justify-content: space-between;
}

#hudGAU{
    background-color: #000000;
    left:100%;
}

#hudDRO{
    background-color: #000000;
    right:100%;
}

#ecranC{
    pointer-events: none;
    width:50%;
    height:100%;
    position:fixed;
    right: 25%;
    top: 100vh;
    display:flex;
}

#ecran{
    pointer-events: none;
    width:100%;
}

#transition{
    width:100%;
    height:100%;
    z-index: -999;
    position:fixed;
    display:none;
}

#borneC{
    width:100%;
    height:100%;
    position:absolute;
    right: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.2s ease-in;
}



#jeu{
    width:100%;
    height:100%;
    position:absolute;
    right: 0;
    top: 0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index:-999;
}




#logoC{
    width:99%;
    height:15%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    z-index: -999;
}

#logo{
    background-repeat: no-repeat;
    transition: transform ease-out .2s; 
    width: 2%;   
}
  

#chargeAnimC{
    pointer-events: none;
    width:100%;
    height:100%;
    position:absolute;
    justify-content: center;
    align-items: center;
    right: 60vh;
    display:none;
    justify-content: center;
    z-index: -999;
}

#chargeAnim{
    pointer-events: none;
    width:10%;
}

#menuImgC{
    pointer-events: none;
    width:99%;
    height:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    z-index: -998;
    
}

#menuImg{
    pointer-events: none;
    transition: transform ease-out .2s; 
    width:2%;
}

#menuBImgC{
    pointer-events: none;
    width:99%;
    height:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    z-index: -999;
    
}
#menuBImg{
    pointer-events: none;
    transition: transform ease-out .2s; 
    width:2%;
}




#redC{

    position:absolute;
    justify-content: center;
    align-items: center;
    right: 60vh;
    display:none;
    bottom:24%;
    z-index: -977;
}

#red,#blue,#pink,#orange{
    width: 75%;
}

#pinkC{

    position:absolute;
    justify-content: center;
    align-items: center;
    right: 60vh;
    display:none;
    top:38%;
    z-index: -977;
}

#blueC{

    position:absolute;
    justify-content: center;
    align-items: center;
    left: 60vh;
    display:none;
    bottom:24%;
    z-index: -977;
}

#orangeC{

    position:absolute;
    justify-content: center;
    align-items: center;
    left: 60%;
    display:none;
    top:38%;
    z-index: -977;
}

#pacC{

    width:100%;
    height:100%;
    position:absolute;
    right: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    z-index: -999;
}

#pac{
    width: 10%;
}



#sonsC{
    position:absolute;
    justify-content: center;
    align-items: center;
    left: 26%;
    display:none;
    bottom: 92%;
    z-index: -979;
}

#sons{
    width: 7%;   
}

#sons:hover{
    transform: scale(1.2);
    cursor:pointer;
}

#musiqueC{
    position:absolute;
    justify-content: center;
    align-items: center;
    right: 27%;
    display:none;
    bottom: 92%;
    z-index: -979;
}

#musique{
    width: 7%;   
}

#musique:hover{
    transform: scale(1.2);
    cursor:pointer;
}



#titresC{
    pointer-events: none;
    height: 142.5%;
    width: 99.5%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index:-999;
    font-size: small;
}

#titre{
    color:aqua;
}

#rulesC{
    width:48%;
    height:93%;
    position:fixed;
    right: 26%;
    top:100vh;
    display:flex;
    z-index:-969;
}

#rules{
    width:110%;
}

#exitC{
    width:48%;
    height:93%;
    position:fixed;
    right: 100%;
    top:3.5%;
    display:flex;
    z-index:-969;
}

#exit{
    width:110%;
}

#creditsC{
    width:48%;
    height:93%;
    position:fixed;
    left: 100%;
    top:3.5%;
    display:flex;
    z-index:-969;
}

#credits{
    width:110%;
}

#scoresC{
    width:48%;
    height:93%;
    position:fixed;
    right: 26%;
    bottom:100%;
    display:flex;
    z-index:-969;
}

#scores{
    width:110%;
}

#j1C{
    width:48%;
    height:6%;
    position:fixed;
    right: 19%;
    bottom:67.5%;
    display:none;
    z-index:-969;
    font-size: xxx-large;
}

#j1{
    color:#5ef4ff;
}

#j3C{
    width:48%;
    height:6%;
    position:fixed;
    right: 19%;
    bottom: 41.5%;
    display:none;
    z-index:-969;
    font-size: xxx-large;
}

#j3{
    color:#d2cae6;
}

#j5C{
    width:48%;
    height:6%;
    position:fixed;
    right: 19%;
    bottom: 14%;
    display:none;
    z-index:-969;
    font-size: xxx-large;
}

#j5{
    color:#b3919a;
}

#j4C{
    width:48%;
    height:6%;
    position:fixed;
    right: 19%;
    bottom: 27%;
    display:none;
    z-index:-969;
    font-size: xxx-large;
}

#j4{
    color:#cfa542;
}

#j2C{
    width:48%;
    height:6%;
    position:fixed;
    right: 19%;
    bottom: 55%;
    display:none;
    z-index:-969;
    font-size: xxx-large;
}

#j2{
    color:
    #ffff00;
}


#arrowC{
    transform:scale(-1);
    position:absolute;
    justify-content: center;
    align-items: center;
    right: 80vh;
    display:none;
    top:5%;
    z-index: -967;
    caret-color: transparent;
}
#arrow{
    width: 10%;
}
#arrow:hover{
    transform: scale(1.2);
    cursor:pointer;
}


.charge {
    animation: anim-pac 1.35s linear;
}

.fan-gau {
    animation: anim-fan-gau 0.3s linear;
}

.fan-dro {
    animation: anim-fan-dro 0.3s linear;
}

.borneAnim{
    animation: borneHaut 2.5s;
}

.coteAnim{
    animation: coteBas 1.5s;
}

.ecranAnim{
    animation: ecranHaut 1.5s;
}

.zoom {
    animation-timing-function: ease-out;
    animation: zomoing 0.6s 0.005s;
  }

.zoomMenu {
    animation-timing-function: ease-out;
    animation: zomoingMenu 0.6s 0.005s;
  }

.zoomPac {
    animation-timing-function: ease-out;
    animation: zomoingMenu 1s;
  }

.zoomPacOut {
    animation-timing-function: ease-out;
    animation: zomoingMenuOut 1.5s;
  }

.rulesUp{
    animation: rules-up 1.5s;
}

.rulesDown{
    animation: rules-down 1.5s;
}

.exit{
    animation: exit 1.5s;
}

.credits{
    animation: credits 1.5s;
}

.creditsOut{
    animation: creditsOut 1.5s;
}

.scores{
    animation: scores 1.5s;
}

.scoresOut{
    animation: scoresOut 1.5s;
}

@keyframes borneHaut {
    0% {
        top:0;
      }
    100% {
        top: -100vh;
  }
}

@keyframes coteBas {
    0% {
        top:-100vh;
      }
    100% {
        top: 0vh;
  }
}

@keyframes ecranHaut {
    0% {
        top:100vh;
      }
    100% {
        top: 0vh;
  }
}

@keyframes zomoing {
    0% {
        transform: scale(1);
      }
    100% {
        transform: scale(9);
  }
}

@keyframes zomoingMenu {
    0% {
        transform: scale(1);
      }
    100% {
        transform: scale(25);
  }
}

@keyframes zomoingMenuOut {
    0% {
        width:100%;
      }
    100% {
        width:0.5%;
  }
}

@keyframes anim-pac {
    0% {
        right:60vh;;
    }
    100% {
        right: 0vh;
    }
}

@keyframes anim-fan-gau {
    0% {
        right:160vh;
    }
    100% {
        right: 130vh;
    }
}

@keyframes anim-fan-dro {
    0% {
        left:160vh;
    }
    100% {
        left: 130vh;
    }
}

@keyframes rules-up {
    0% {
        top:100vh;
    }
    100% {
        top: 3.5%;
    }
}
@keyframes rules-down {
    0% {
        top: 3.5%;
    }
    100% {
        top: 100vh;
    }
}

@keyframes exit {
    0% {
        right: 100%;
    }
    100% {
        right: 26%;
    }
}

@keyframes credits {
    0% {
        left: 100%;
    }
    100% {
        left: 26%;
    }
}

@keyframes creditsOut {
    0% {
        left: 26%;
    }
    100% {
        left: 100%;
    }
}

@keyframes scores {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: 3.5%;
    }
}

@keyframes scoresOut {
    0% {
        bottom: 3.5%;
    }
    100% {
        bottom: 100%;
    }
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('assets/polices/ArcadeClassic.woff2') format('woff2'),
        url('assets/polices/ARCADECLASSIC.TTF')  format('truetype'),
        url('assets/polices/ArcadeClassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
